<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--标准的视口设置-->
        <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
        <title></title>
        <link rel="stylesheet" href="css/other/bootstrap.min.css">
        <script>
        </script>
        <style>
            body{
                background: rgb(0, 112, 26);
            }
            #a{
                position: absolute;
                top: 30%;
                left: 40%;
            }
            button{
                margin: 50px;
            }
        </style>
        <script type="text/javascript">
            function change1(){
                window.location.href="/index";
            }
            function change2(){
                window.location.href="/rank?pageNo=1";

            }
        </script>
    </head>
    <body>

        <div id="a" >
            <img src="img/logo.png"/>
            <div class="btn-group-lg">
                <button class="btn btn-success" type="button" onclick="change1()">开始游戏</button>
                <button class="btn btn-success" type="button" onclick="change2()">查看排名</button>
            </div>

        </div>
    </body>
</html>
